*{
    margin: 0px;
}
.creature {
    width: 100%;
    height: 100vh;
    animation: breathe 2s infinite steps(1);
}
.creature img {width: 50%;
}

@keyframes breathe {
    0% {background-image: url(images/Firefly.png);
        background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
        background-repeat: no-repeat;
    }
    75% {background-image: url(images/Firefly_GeminiFlash_create\ a\ frame\ of\ him\ breathing\ in\,\ mouth\ open\ 717853.png);
       background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    }
}
@media (max-width:1800px) { 
.creature {   animation: breathe 1s infinite steps(1);}

}

@media (max-width:1600px) { 
.creature {   animation: breathe 0.5s infinite steps(1);}

}

@media (max-width:1200px) { 
.creature {   animation: breathe 0.25s infinite steps(1);}

}

@media (max-width:600px) { 
.creature {   animation: pop 0.75s steps(1);}

}


@keyframes pop {
    0% {background-image: url(images/Firefly.png);
        background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
        background-repeat: no-repeat;
    }
    25% {background-image: url(images/Firefly_GeminiFlash_create\ a\ frame\ of\ him\ breathing\ in\,\ mouth\ open\ 717853.png);
       background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    }
    50% {background-image: url(images/Firefly.png);
        background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
        background-repeat: no-repeat;
}
75% {background-image: url(images/Firefly_GeminiFlash_create\ a\ frame\ of\ him\ breathing\ in\,\ mouth\ open\ 717853.png);
       background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
    background-repeat: no-repeat;
}
85%   {background-image: url(images/Firefly.png);
        background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
        background-repeat: no-repeat;
}
90% {background-image: url(images/Firefly_GeminiFlash_create\ a\ frame\ of\ him\ popping\ into\ pieces\ 464705.png);
        background-size: 50%;
         display: flex;
background-position: center;
    position: absolute;
        background-repeat: no-repeat;
}
}