*{
margin:0;
padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}
h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 60px;
margin: 100px 100px 10px 100px;
/* sjprthand is top right bottom left*/
text-align: center;
color: orchid;
}
h2 {font-family: 'Courier New', Courier, monospace;
font-size: 16px;
font-weight: normal;
text-transform: uppercase;
margin: 0 0 50px 100px;
}
p {
    color: rgb(35, 15, 116);
font-size: 36px;
}
img{
    width: 60%;
    margin-left: 100px;
}
h6{
    font-size: 12px;
    font-weight: normal;
    margin: 50px 100px 50px 100px;
}
.indent{
    margin-left: 200px;
}
.first{
    color: rgb(35, 15, 116 .25);
}
.imageone{
    width: 30%;
}
.imagetwo{
    width: 50%;
}
.imagethree{width: 75%;}
.imagefour{width: 100%;}